* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: rgb(39, 39, 39);
}

.hide {
  overflow: hidden;
}

/* Header starts here */
.nav {
  min-height: 10vh;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 10rem;
  width: 100%;
  z-index: 2;
  position: fixed;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}

.nav.active {
  background-color: #3a3a3a;
  opacity: 0.9;
  transition: all 0.5s ease-in-out;
}

.line {
  height: 0.1rem;
  background-image: linear-gradient(to right, #42e3ff, rgb(0, 189, 110));
  width: 0%;
  position: absolute;
  bottom: -50%;
  left: 67%;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  display: flex;
  list-style: none;
}

li {
  padding-left: 10rem;
  position: relative;
  cursor: pointer;
  font-size: 1.1rem;
}

.logo {
  height: 80px;
  width: 150px;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.5s ease;
}

.logo:hover {
  transform: scale(1.04);
}

.scroll-btn {
  opacity: 0;
  margin: 1%;
  position: fixed;
  height: 60px;
  width: 5%;
  right: -20%;
  bottom: 0;
  cursor: pointer;
  z-index: 1;
  color: white;
  transition: all 0.5s ease;
}

.scroll-btn:hover {
  transform: scale(1.05);
}

.scroll-btn.active {
  opacity: 1;
  right: 0;
}

.menu-container {
  display: none;
}

.mobile-icon {
  display: none;
}
.menu {
  display: none;
}
.mobile-break {
  display: none;
}

@media only screen and (min-width: 320px) and (max-width: 580px) {
  ul li {
    display: none;
  }
  .mobile-break {
    display: block;
  }
  .scroll-btn {
    width: 14%;
  }
  .scroll-btn:hover {
    transform: scale(1);
  }
  .logo {
    margin-left: -3rem;
  }
  .logo:hover {
    transform: scale(1);
  }
  .menu-container {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    transform: translateX(-100%);
    overflow: hidden;
    top: 0;
    z-index: 2;
    background-image: linear-gradient(to right, black, transparent);
    opacity: 0;
    transition: all 0.5s ease;
  }
  .menu-container-active {
    opacity: 1;
    transform: translateX(0);
  }
  .mobile-icon {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    margin: 1rem 0rem 0rem 1rem;
    z-index: 3;
  }
  .menu {
    display: block;
    position: absolute;
    height: 50vh;
    width: 100%;
    margin-top: 30%;
    z-index: 2;
  }
  .menu div {
    font-size: 1.7rem;
    margin: 3rem 0rem 0rem 4rem;
  }
  .menu-icons {
    position: absolute;
    left: 0;
    margin-top: 0.1rem;
    margin-left: 0.5rem;
  }
  .mobile-socials {
    position: absolute;
    display: block;
    bottom: 0;
    left: -1;
  }

  .icons {
    margin-left: 2rem;
  }
  .line1 {
    height: 0.1rem;
    background-image: linear-gradient(to right, #42e3ff, rgb(0, 189, 110));
    width: 0%;
    position: absolute;
    bottom: 80%;
    left: -15%;
  }
  .line2 {
    height: 0.1rem;
    background-image: linear-gradient(to right, #42e3ff, rgb(0, 189, 110));
    width: 0%;
    position: absolute;
    bottom: 60%;
    left: -15%;
  }
  .line3 {
    height: 0.1rem;
    background-image: linear-gradient(to right, #42e3ff, rgb(0, 189, 110));
    width: 0%;
    position: absolute;
    bottom: 40%;
    left: -15%;
  }
}

/* Banner image starts here */
.banner-image {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  opacity: 0.9;
  z-index: -1;
}

.title {
  width: 60%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: translate(-50%, -60%);
  color: white;
}

.title h2 {
  font-size: 80px;
  padding: 3%;
  color: white;
  font-weight: lighter;
  text-shadow: -1.5px 1.5px 0 black, 1.5px 1.5px 0 black, 1.5px -1.5px 0 black,
    -1.5px -1.5px 0 black;
}

.buttons {
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  padding: 1rem 1rem;
  outline: none;
  border: 2px solid #42e3ff;
  background-color: transparent;
  color: white;
  margin: 1rem;
  transition: all 0.5s ease;
}

.buttons:hover {
  background-color: #42e3ff;
  color: black;
}

.socials {
  display: block;
  padding: 0.5rem;
}

.socials a:hover {
  color: #42e3ff;
}

.socials a {
  padding: 0rem 0.5rem 0rem 0rem;
  color: white;
  transition: all 0.5s ease;
}

.scroll-arrow {
  position: absolute;
  bottom: 0;
  left: 49%;
  cursor: pointer;
}

@media only screen and (min-width: 320px) and (max-width: 580px) {
  .buttons {
    display: block;
    margin: 0 auto;
    width: 50%;
    font-size: 1.1rem;
  }
  .title {
    width: 90%;
  }
  .title h2 {
    font-size: 3rem;
  }
  .scroll-arrow {
    display: none;
  }
  .socials {
    display: none;
  }
  .still-in-dev {
    display: none;
  }
}

/* Iphone 11 media queries */

@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .title h2 {
    font-size: 3.2rem;
  }
  .logo {
    margin-left: -1.7rem;
  }
}

/* About Section */
.about {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.image {
  height: 80vh;
  width: 30%;
  object-fit: contain;
  margin-top: 10vh;
}

.content-info {
  width: 85%;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.info-container {
  padding: 5rem 2rem 0rem 2rem;
  width: 65%;
  margin: 0 auto;
}

.info-container h2 {
  color: white;
  font-weight: lighter;
}

.info-container h3 {
  padding: 1rem 0rem 0rem 0rem;
  font-weight: lighter;
}

.content-message {
  margin: 0%;
  padding: 1rem 0rem;
  font-size: 1.2rem;
  font-weight: lighter;
}

.skills-container {
  padding-top: 1rem;
  text-align: center;
}

.skills-container h3 {
  font-size: 35px;
}

.skill {
  display: inline-block;
  padding: 1rem;
}

.skill p {
  padding: 0.5rem;
  font-size: 1.1rem;
}

@media only screen and (min-width: 320px) and (max-width: 580px) {
  .content-info {
    display: block;
    width: 100%;
  }
  .info-container {
    width: 100%;
    font-size: 1rem;
    text-align: center;
  }
  .info-container h2 {
    font-size: 2rem;
  }
  .content-message {
    text-align: center;
  }
  .image {
    width: 100%;
  }
  .skills-container {
    width: 100%;
  }
}

/* Design Section */
.design-container {
  margin-top: 5%;
  min-height: 30vh;
  display: flex;
  width: 100%;
  padding: 0rem 3rem 0rem 3rem;
}

.design-icons {
  color: white;
  padding: 5rem 0rem 5rem 0rem;
  width: 100%;
  display: grid;
  place-items: center;
}

.design-icons h2 {
  color: white;
  font-size: 2.8rem;
  font-weight: lighter;
  color: #42e3ff;
  padding: 0rem;
}

@media only screen and (min-width: 320px) and (max-width: 580px) {
  .design-container {
    margin: 6rem 0rem 6rem 0rem;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    padding: 0rem;
  }
  .design-icons h2 {
    font-size: 2rem;
  }
}

/* About Questions */
.about-me {
  min-height: 85vh;
  margin-top: 5%;
}

.question {
  text-align: center;
  color: white;
  padding: 0rem 10rem 0rem 10rem;
  width: 100%;
}

.answer {
  padding: 1rem 0rem;
  color: white;
}

.answer p {
  padding: 0rem 3rem 0rem 3rem;
  font-size: 1.1rem;
}

.question-h2 {
  padding: 2rem;
  font-size: 1.8rem;
  font-weight: lighter;
  cursor: pointer;
}

.question-line {
  background-image: linear-gradient(to right, #42e3ff, rgb(140, 0, 255));
  height: 0.25rem;
  margin: 1rem 0rem 2rem 0rem;
  width: 100%;
  text-align: center;
}

.question-icon {
  transform: rotate(-180deg);
  margin: 1rem 0rem 0rem 1rem;
  transition: all 0.5s ease;
}

.question-icon.active {
  transform: rotate(0);
  transition: all 0.5s ease;
}

@media only screen and (min-width: 320px) and (max-width: 580px) {
  .question {
    margin-top: 5rem;
    padding: 0rem 2rem 0rem 2rem;
  }
  .question-h2 {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  .answer p {
    padding: 0rem;
    font-size: 1rem;
  }
  .about-me {
    min-height: 70vh;
  }
}

/* Projects Section */
.svg-image {
  position: absolute;
  margin-top: 10%;
  z-index: -1;
  left: 0;
}

.back-btn {
  color: white;
  position: absolute;
  margin-top: 1rem;
  cursor: pointer;
}

.work-container {
  padding: 6rem 8rem 1rem 8rem;
  min-height: 5vh;
}

.work-container h2 {
  font-size: 3rem;
  font-weight: lighter;
  color: white;
  text-align: center;
}

#projects {
  min-height: 90vh;
}

.image-container {
  width: 100%;
  display: grid;
  padding: 0rem 3rem 0rem 3rem;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-row-gap: 3rem;
  justify-items: center;
}

.image-container h2 {
  font-weight: lighter;
  text-align: center;
}

.image-array {
  height: 45vh;
  cursor: pointer;
  object-fit: cover;
  display: block;
  width: auto;
}

.project {
  cursor: pointer;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0px 0px 15px 1px white;
  overflow: hidden;
  transition: all 0.5s ease;
}

.project:hover {
  transform: scale(1.05);
}

.project h2 {
  padding: 1rem;
  font-size: 1.4rem;
}

@media only screen and (min-width: 320px) and (max-width: 580px) {
  .work-container {
    padding: 6rem 3rem 1rem 3rem;
  }
  .work-container h2 {
    font-size: 2.2rem;
    padding: 0rem;
  }
  .question-line {
    margin: 0.2rem 0rem 1rem 0rem;
  }
  .image-array {
    height: 30vh;
    width: auto;
  }
  .image-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 0rem;
  }
  .svg-image {
    display: none;
  }
  .project:hover {
    transform: scale(1);
  }
  .back-btn {
    margin-top: 0rem;
  }
}

/* Work Details */
.details {
  min-height: 80vh;
  padding: 0rem 4rem 0rem 4rem;
  display: flex;
}

.details p {
  color: white;
  padding: 2rem 2rem 0rem 2rem;
  font-size: 1.4rem;
}

.details-container button {
  margin: 2rem;
}

.detail-image {
  height: 70vh;
  width: 45%;
  object-fit: cover;
}

.learnt {
  min-height: 35vh;
  display: flex;
  margin: 0rem 2rem;
  align-items: center;
  justify-content: space-around;
}

.learnt-style {
  padding: 0rem 2rem 0rem 2rem;
  text-align: center;
}

.learnt-style h3 {
  font-size: 2rem;
  color: white;
  padding: 1rem;
  font-weight: lighter;
}

.learnt-style p {
  color: white;
}

.learning {
  padding: 5rem 0rem 0rem 0rem;
  color: white;
  text-align: center;
  font-weight: lighter;
  font-size: 2.5rem;
}

.gallery {
  padding: 3rem;
  color: white;
  text-align: center;
  font-weight: lighter;
  font-size: 2.5rem;
}

#link-btn {
  display: block;
  text-align: center;
  position: absolute;
  right: 43.5%;
}

@media only screen and (min-width: 320px) and (max-width: 580px) {
  .details {
    display: block;
    padding: 0rem;
  }
  .detail-image {
    height: 30vh;
    width: 100%;
  }
  .learning {
    font-size: 2rem;
    padding: 3rem;
    margin-top: 5rem;
  }
  .learnt {
    display: block;
  }
  .learnt-style h3 {
    font-size: 1.9rem;
  }
  .learnt-style p {
    font-size: 1.05rem;
  }
  .gallery {
    font-size: 2rem;
  }
  #link-btn {
    left: 30%;
    margin-top: 2rem;
    width: 40%;
  }
}

/* Carousel */
.carousel-container {
  display: flex;
  width: 81%;
  height: 75vh;
  box-sizing: border-box;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.carousel-slides {
  min-width: 100%;
  transition: all 1s ease;
  position: relative;
}

.img-container {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.prev {
  position: absolute;
  left: 0;
  height: 100%;
  width: 8%;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  transition: all 0.5s ease;
}

.prev:hover {
  background: rgba(255, 255, 255, 0.4);
}

.next {
  position: absolute;
  right: 0;
  height: 100%;
  width: 8%;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  transition: all 0.5s ease;
}

.next:hover {
  background: rgba(255, 255, 255, 0.4);
}

@media only screen and (min-width: 320px) and (max-width: 580px) {
  .carousel-container {
    width: 100%;
    height: 30vh;
  }
}

/* Contact Section */
.form-container {
  height: 55vh;
  width: 45%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background: transparent;
  opacity: 0.9;
  border-radius: 2%;
  text-align: left;
}

.btn-container {
  text-align: center;
}

.contact-container {
  padding: 5rem 8rem 0rem 8rem;
}

.contact-container h2 {
  font-size: 3rem;
  font-weight: lighter;
  color: white;
  text-align: center;
}

form input {
  width: 100%;
  background: white;
  outline: none;
  border: none;
  height: 5rem;
  color: black;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  padding-left: 10px;
}

form textarea {
  min-height: 20vh;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  margin-top: 0.5rem;
  background: white;
  color: black;
  font-size: 1rem;
  resize: none;
  padding: 5px 10px;
}

form label {
  color: white;
  font-size: 1rem;
}

form button {
  position: absolute;
  bottom: 2%;
  left: 44%;
}

@media only screen and (min-width: 320px) and (max-width: 580px) {
  .form-container {
    height: 54vh;
    width: 100%;
    display: block;
  }
  .contact-container {
    padding: 5rem 3rem 0rem 3rem;
  }
  .contact-container h2 {
    margin-top: 1rem;
    font-size: 2.2rem;
  }
  .btn-container {
    display: block;
    margin: 0rem;
  }
  #contact-btn {
    position: absolute;
    left: 25%;
    width: 50%;
  }
  form input {
    height: 2rem;
  }
  form textarea {
    min-height: 15vh;
  }
}

/* Footer Section */

footer {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0.5rem;
}

footer h3 {
  color: white;
  font-weight: lighter;
}

@media only screen and (min-width: 320px) and (max-width: 580px) {
  footer h3 {
    text-align: center;
    font-size: 0.9rem;
  }
}

/* Error Message */
.error {
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(28%, -50%);
  text-align: center;
}

.error h1 {
  font-weight: lighter;
  font-size: 5rem;
  color: red;
}

/* Large Screen media queries */
@media only screen and (min-device-width: 1800px) {
  .logo {
    margin-top: 0.5rem;
    height: 80px;
    width: 170px;
  }
  .info-container h2 {
    font-size: 2.2rem;
  }
  .info-container h3 {
    font-size: 1.8rem;
  }
  .info-container p {
    font-size: 1.3rem;
  }
  .skills-container h3 {
    font-size: 2.3rem;
  }
  .question-h2 {
    font-size: 2.2rem;
  }
  .answer p {
    font-size: 1.3rem;
  }
  .about-me {
    min-height: 70vh;
  }
  .details {
    padding: 0rem 8rem 0rem 8rem;
  }
  .details p {
    font-size: 1.6rem;
  }
  #link-btn {
    right: 46%;
  }
  .learnt-style h3 {
    font-size: 2.5rem;
  }
  .learnt-style p {
    font-size: 1.2rem;
  }
  .form-container {
    min-height: 90vh;
  }
  form input {
    width: 100%;
    height: 3rem;
  }

  form textarea {
    min-height: 25vh;
  }

  form label {
    font-size: 1.2rem;
  }
}
